{% extends 'base.html' %}
{% block content %}




<div class="card">
  <div class="card-header"><strong>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Employee Name: </strong>{{ customer_record.name_of_employee }}</p>

<p class="card-text">
<strong>Emai Address: </strong>{{ customer_record.email_address }}
</p>

<p class="card-text">
<strong>Phone: </strong>{{ customer_record.contact_phone }}</p>

<p class="card-text">
<strong>Department: </strong>{{ customer_record.department }}</p>

<p class="card-text">
<strong>Date Startefd: </strong>{{ customer_record.created_at }}</p>

<p class="card-text">
<strong>ID: </strong>{{ customer_record.id }}</p>
    
    
  </div>
</div>
<center><div>
  <br/> <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  
  <a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
  
  <a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update</a>
  </div></center>

{% endblock %}